<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gq.bbpic.dao.CollectMapper" >
  <resultMap id="BaseResultMap" type="edu.gq.bbpic.pojo.Collect" >
    <constructor >
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="oject_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="object_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_cancel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, oject_id, object_type, is_cancel, creation_time
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="edu.gq.bbpic.pojo.Collect" >
    select
    <include refid="Base_Column_List" />
    from collect
    where user_id = #{userId}
    and oject_id = #{ojectId}
    and object_type = #{objectType}
  </select>
  <insert id="insert" parameterType="edu.gq.bbpic.pojo.Collect" >
    insert into collect (user_id, oject_id, object_type, 
      is_cancel, creation_time)
    values (#{userId,jdbcType=INTEGER}, #{ojectId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, 
      0, now())
  </insert>
  <update id="update" parameterType="edu.gq.bbpic.pojo.Collect" >
    update collect
    set is_cancel = #{isCancel}
    where oject_id = #{ojectId}
    and object_type = #{objectType}
    and user_id = #{userId}
  </update>
</mapper>