<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gq.bbpic.dao.PicListMapper" >
  <resultMap id="BaseResultMap" type="edu.gq.bbpic.pojo.PicList" >
    <constructor >
      <idArg column="pic_list_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pic_list_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="intro" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="collect_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="enable" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pic_list_id, user_id, category_id, pic_list_name, intro, collect_num, enable, creation_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pic_list
    where pic_list_id = #{picListId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pic_list
    where pic_list_id = #{picListId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.gq.bbpic.pojo.PicList" >
    insert into pic_list (pic_list_id, user_id, category_id, 
      pic_list_name, intro, collect_num, 
      enable, creation_time)
    values (#{picListId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{picListName,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{collectNum,jdbcType=INTEGER}, 
      #{enable,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.gq.bbpic.pojo.PicList" >
    insert into pic_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="picListId != null" >
        pic_list_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="picListName != null" >
        pic_list_name,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="collectNum != null" >
        collect_num,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="picListId != null" >
        #{picListId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="picListName != null" >
        #{picListName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null" >
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gq.bbpic.pojo.PicList" >
    update pic_list
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="picListName != null" >
        pic_list_name = #{picListName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null" >
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pic_list_id = #{picListId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gq.bbpic.pojo.PicList" >
    update pic_list
    set user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      pic_list_name = #{picListName,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      collect_num = #{collectNum,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where pic_list_id = #{picListId,jdbcType=INTEGER}
  </update>
</mapper>